<h1>Welcome to new User</h1>

<section class="Users-Section">
<%= form_with url: users_path do |form| %>

  <div class="User-Input-Section">
    <p class="Input-section-heading"> First Name</p>
    <%= form.text_field :first_name, class:"User-Input" %>
  </div>
  <div class="User-Input-Section">
  <p class="Input-section-heading"> Last Name</p>
    <%= form.text_field :last_name, class:"User-Input" %>
  </div>
  <div class="User-Input-Section">
  <p class="Input-section-heading"> Email</p>
    <%= form.email_field :email, class:"User-Input" %>
  </div>
  <div class="User-Input-Section">
  <p class="Input-section-heading"> Password</p>
    <%= form.password_field :password, class:"User-Input" %>
  </div>
  <%# <div class="User-Input-Section"> %>
  <%# <p> Password</p> %>
    <%# <%= form.password_field :password_digest, class:"User-Input" %>
  </div class="User-Input-Section">
    <%# <p class="Input-section-heading"> </p> %>
   <%# <input class="Add-button-user" type="submit" value="Add"> %>
   <%= form.submit "Sign-Up!", class:"Add-button-user"%>
  </div>
<% end %>
</section>
