<section class="show-list-Today">
        <div class="section-heading-design">
          <p class="section-heading-text"> <%=section_title%></p>
          <p class="sectionTitle-remaining-item"><%=todo.completed.count%>/<%=todo.count%></p>
        </div>
        <ul class="Ul-listing-items">

            <%todo.each do |todos|%>
              <div  style="display:flex; align-item:centre; ">
                <li class="TodoItem">

                  <%= form_with(url:"/todos/#{todos.id}", method:"put") do %>
                    <input class="TodoItems-Checkbox"  name="completed" type="checkbox" <%=todos.completed ? "checked" : "" %> onclick=" this.form.submit() "/>
                    <%# <input type="submit" value="update"> %>
                  <%end%>

                  <p class=<%= todos.completed ? "todo-text-completed": "" %>>
                    <%= todos.todo_text %>
                  <p>

                  <%if show_due_date%>
                    <p class="TodoItem-DueDate"><%=todos.due_date.to_s(:short)%></p>
                  <%end%>

                  <a class="TodoItem-delete" href="javascript:void(0)">
                  <%= form_with(url:"/todos/#{todos.id}",method:"DELETE") do %>

                    <%# <img class="delete-icon" src="delete.png" alt="Not connected"> %>
                    <input type="image" src="delete.png" class="delete-icon">
                    <%end%>
                  </a>

                </li>
              </div>
            <%end%>
          </ul>
      </section>
