  <main>
  <h1 style=" color=:white">My Todo's List </h1>

    <article class="Main-Todo-Layout">
    <%=form_with(url:"/todos", method:"post",class:"Add-new") do %>
      <%# <form class="Add-new" action="/todos" method="POST"> %>
        <input class="Add-toto-text" type="text" placeholder="What's Next " name="todo_text">
        <input class="Add-date" type="date" name="due_date">
        <input class="Add-button" type="submit" value="Add">
      <%# </form> %>
    <%end%>
        <%= render partial: "todo-section", locals: {
          section_title: "Overdue",
          todo:Todo.due_Overdue,
          show_due_date:true,
          iscompleted:Todo.completed
          }%>
        <%# <%=rndder partial : "from"%>
        <%=render partial: "todo-section", locals: {
          section_title: "Due Today",
          todo:Todo.due_today,
          show_due_date:false,
          iscompleted:Todo.completed
          }%>
        <%=render partial: "todo-section", locals: {
          section_title: "OveRemaining",
          todo:Todo.due_Later,
          show_due_date:true,
          iscompleted:Todo.completed
          }%>
    </article>
  </main>
